Package: rocketdl
Version: 1.0
Section: utils
Priority: optional
Architecture: amd64
Maintainer: Jeel Pandya <curator.rocketdl@gmail.com>
Homepage: https://github.com/error404JPnotfound
Depends: python3, python3-venv, python3-gi, gir1.2-webkit2-4.0 | gir1.2-webkit2-4.1, chromium | google-chrome-stable, zenity, ffmpeg, nodejs
Description: Rocket DL – Premium Download Manager
 Blazing-fast download manager supporting YouTube, playlists,
 and direct links. Features a glass-morphism UI, 11 languages,
 dark/light themes, download history, and live console output.
